body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:554px;
}
#u3183 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:36px;
  width:306px;
  height:553px;
}
#u3183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:530px;
}
#u3184 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:60px;
  width:306px;
  height:529px;
}
#u3184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
}
#u3186 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:36px;
  width:306px;
  height:24px;
}
#u3186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  word-wrap:break-word;
}
#u3187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3188 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:46px;
  width:5px;
  height:5px;
}
#u3188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3189 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:46px;
  width:5px;
  height:5px;
}
#u3189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3190 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:46px;
  width:5px;
  height:5px;
}
#u3190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3191 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:46px;
  width:5px;
  height:5px;
}
#u3191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:5px;
  height:5px;
}
#u3192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:44px;
  width:22px;
  height:10px;
}
#u3194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:46px;
  width:14px;
  height:4px;
}
#u3195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:46px;
  width:3px;
  height:4px;
}
#u3196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:487px;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:103px;
  width:306px;
  height:486px;
}
#u3197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:69px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#660033;
}
#u3198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:68px;
  width:20px;
  height:20px;
}
#u3199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:178px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:120px;
  width:288px;
  height:178px;
}
#u3201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:44px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:188px;
  width:150px;
  height:43px;
  font-family:'萝莉体 常规', '萝莉体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:178px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:308px;
  width:288px;
  height:178px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:44px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:379px;
  width:145px;
  height:43px;
  font-family:'萝莉体 常规', '萝莉体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:62px;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:526px;
  width:304px;
  height:62px;
}
#u3206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:604px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:38px;
  width:392px;
  height:603px;
  text-align:left;
}
#u3207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:388px;
  word-wrap:break-word;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:49px;
  height:47px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:61px;
  width:34px;
  height:32px;
}
#u3209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:69px;
  width:10px;
  height:17px;
}
#u3210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
