body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:544px;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:46px;
  width:306px;
  height:543px;
}
#u3029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:529px;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:60px;
  width:306px;
  height:528px;
}
#u3030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:36px;
  width:306px;
  height:24px;
}
#u3032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  word-wrap:break-word;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:46px;
  width:5px;
  height:5px;
}
#u3034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:46px;
  width:5px;
  height:5px;
}
#u3035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:46px;
  width:5px;
  height:5px;
}
#u3036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:46px;
  width:5px;
  height:5px;
}
#u3037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:5px;
  height:5px;
}
#u3038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:44px;
  width:22px;
  height:10px;
}
#u3040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:46px;
  width:14px;
  height:4px;
}
#u3041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:46px;
  width:3px;
  height:4px;
}
#u3042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3044_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:49px;
  height:47px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:61px;
  width:34px;
  height:32px;
}
#u3044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:69px;
  width:10px;
  height:17px;
}
#u3045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:220px;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:186px;
  width:170px;
  height:219px;
}
#u3046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:249px;
  width:100px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#660033;
}
#u3047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:604px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:44px;
  width:392px;
  height:603px;
  text-align:left;
}
#u3048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:388px;
  word-wrap:break-word;
}
