body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:544px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:46px;
  width:306px;
  height:543px;
}
#u2996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:529px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:60px;
  width:306px;
  height:528px;
}
#u2997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:36px;
  width:306px;
  height:24px;
}
#u2999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  word-wrap:break-word;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:46px;
  width:5px;
  height:5px;
}
#u3001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:46px;
  width:5px;
  height:5px;
}
#u3002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:46px;
  width:5px;
  height:5px;
}
#u3003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:46px;
  width:5px;
  height:5px;
}
#u3004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:46px;
  width:5px;
  height:5px;
}
#u3005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:44px;
  width:22px;
  height:10px;
}
#u3007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:46px;
  width:14px;
  height:4px;
}
#u3008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:46px;
  width:3px;
  height:4px;
}
#u3009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3011_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:49px;
  height:47px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:61px;
  width:34px;
  height:32px;
}
#u3011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:69px;
  width:10px;
  height:17px;
}
#u3012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:220px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:186px;
  width:170px;
  height:219px;
}
#u3013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:252px;
  width:87px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#660033;
}
#u3014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u3015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:604px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:44px;
  width:392px;
  height:603px;
  text-align:left;
}
#u3015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:388px;
  word-wrap:break-word;
}
