body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:530px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:109px;
  width:297px;
  height:530px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:94px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:6px;
  width:308px;
  height:93px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:276px;
  width:122px;
  height:109px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:464px;
  width:122px;
  height:109px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:121px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:100px;
  width:288px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:284px;
  word-wrap:break-word;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:530px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:788px;
  width:297px;
  height:530px;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:34px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:699px;
  width:241px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:237px;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:121px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1192px;
  width:288px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:284px;
  word-wrap:break-word;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:530px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:788px;
  width:297px;
  height:530px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:121px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:816px;
  width:288px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:284px;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:832px;
  width:122px;
  height:109px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1228px;
  width:122px;
  height:109px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1228px;
  width:122px;
  height:109px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:896px;
  width:122px;
  height:109px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:34px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1362px;
  width:241px;
  height:33px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:237px;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:530px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1450px;
  width:297px;
  height:530px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:121px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:1487px;
  width:288px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:284px;
  word-wrap:break-word;
}
